.course_part_1 {
  background: linear-gradient(0deg, #9453ff, #9453ff),
    url(../../image/Rectangle\ 241.png);
  background-blend-mode: soft-light, normal;
  text-align: left;
  display: flex;
  margin-top: 3px;
}
.title a {
  text-decoration: none;
  color: #554766;
}
.coursePart1Right img {
  width: 110%;
}
.course_part_1 h1 {
  color: #9453ff;
}
.course_part_1 p {
  color: #554766;
  width: 52%;
  margin-top: 20px;
}
.coursePart1Left {
  margin: 96px 24px 96px 80px;
}
.coursePart1Right {
  margin: 22px 80px 22px 0;
}
.courseListDetails {
  display: flex;
  margin-top: 64px;
}
.listButton button {
  background-color: #f7f5fa;
  padding: 4px 8px;
  color: #9387a8;
  margin-right: 8px;
  border: 1px solid #cac1d8;
  border-radius: 4px;
  height: 28px;
}
.listButton {
  text-align: left;
  padding-left: 16px;
  margin-top: 20px;
}
.cart button {
  background-color: #9453ff;
  color: #ffffff;
  width: 167px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
.listCourseTitle {
  text-align: left;
}
/* .listCourseTitle img {
  width: 300px;
  height: 180px;
} */
.cart {
  display: flex;
  margin: 0 0 24px 16px;
}
.cart button {
  width: 167px;
  height: 40px;
  margin-right: 8px;
  border: none;
  cursor: pointer;
}
.cart img {
  width: 40px;
  height: 40px;
}
.listCourse {
  display: flex;
  flex-wrap: wrap;
}
.list {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
#linh {
  color: #362355;
}
.listButton h3 {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 268px;
  height: 48px;
  text-decoration: none;
  color: #554766;
}
/* .listButton h3:hover {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 268px;
  height: 48px;
  cursor: pointer;
  text-decoration: underline;
} */
.listButton h1 {
  margin-bottom: 24px;
}
#search {
  width: 300px;
  height: 48px;
  border: 1px solid #cac1d8;
  border-radius: 4px;
}
.categoryOfCourse {
  padding: 0 40px 0 80px;
  text-align: left;
}
.categoryOfCourse p {
  color: #9387a8;
}
.skills {
  display: flex;
  margin-bottom: 12px;
}
.skillsAndLevels {
  margin-top: 24px;
}
.skillsAndLevels h3 {
  color: #362355;
}
.skillsAndLevels input {
  width: 20px;
  height: 20px;
}
.skill {
  margin-top: 18px;
  margin-bottom: 24px;
}
.skills input {
  margin-right: 10px;
}
.skillAll {
  border-bottom: 1px solid #cac1d8;
}
.levelAll {
  margin-top: 24px;
}
.pagination {
  width: 25%;
  margin: auto;
  margin-top: 40px;
}

.pagination a {
  color: black;
  float: left;
  width: 9px;
  height: 24px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination a.active {
  background-color: #9453ff;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ffff00;
}
@media screen and (max-width: 768px) {
  .course_part_1{
    background: url("../../image/Rectangle\ 241.png");
    margin-top: -2.5%;
    display: block;
  }
  .coursePart1Left p{
    width: 85%;
  } 
  .coursePart1Right{
    width: 60%;
    margin-top: 3%;
    margin-left: 18%;
  }
  .coursePart1Left{
    margin: 18px 24px 96px 80px;
  }
  .categoryOfCourse{
    width: 100%;
    display: none;
  }
  .skillAll{
    display: none;
  }
  .levelAll{
    display: none;
  }
  .courseListDetails{
    flex-direction: column-reverse;
  }
  .listCourse{
    margin-left: 10%;
  }
  .listCourseTitle{
    width: 100%;
  }
  .listCourseTitle_img{
    width: 100%;
  }
  .pagination{
    width: 50%;
    margin: 0 auto;
  }
}
