#footer_bg img {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
/* #footerMain{
  width: 100%;
} */
#footerMain {
  position: relative;
  margin-top: 12%;
  /* height: 95vh; */
}
.category {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 2% auto;
}
.category a {
  color: #ffffff;
  text-decoration: none;
  font-family: 600;
}
.category a:hover {
  font-weight: bold;
  color: #db2b39;
}
#logo {
  margin-top: 18%;
  margin-left: 50%;
}
.social_media {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}

.tittle p {
  color: #ffffff !important;
  justify-content: center;
  display: flex;

}
.facebook{
  width: 19%;
}
@media screen and (max-width: 768px) {
  #footer_bg img {
    /* position: absolute; */
    width: auto;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;
  }
  .category {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  .social_media {
    width: 35%;
    margin-bottom: 24px;
  }
  .title{
    margin-top: 10%;
  }
  #logo{
    margin-top: 30%;
  }
  #footerMain{
    margin-top: 200%;
    height: 0;
  }
}