
  .part_one {
    display: flex;
    background: url("../../image/Rectangle\ 241.png");
    margin-top: 3px;
  }
  /* body{
      background-color: #ffff;
    } */

  .aboutUs h2 {
    color: #362355;
  }

  .part_one, .part_two, .part_four, .part_five, .part_three, .part_six_aboutUs p {
    color: #554766;
  }

  .part_one h1 {
    color: #9453ff;
  }

  .part_one_details {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    width: 70%;
    padding-left: 120px;
    padding-right: 20px;
  }

  .part_one_images {
    width: 30%;
    margin: 20px;
  }

  .part_one_images img {
    width: 100%;
  }
  .play {
    position: absolute;
    top: 40%;
    left: 45%;
  }

  .part_two {
    display: flex;
    text-align: left;
    margin-top: 4%;
    position: relative;
  }

  .part_two_left {
    width: 40%;
    margin: 7% 8%;
  }

  .part_two_right {
    width: 50%;
    position: relative;
    z-index: -1;
  }

  .part_two_right img {
    position: relative;
  }

  .part_three {
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
    position: relative;
  }

  .part_three_left {
    width: 50%;
    text-align: right;
    position: relative;
  }

  .part_three_right {
    width: 50%;
    text-align: left;
  }
  .part_three_right_details {
    margin: 12% 10% 15% 10%;
  }

  .part_four {
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 4%;
    margin-left: 2%;
  }

  .part_four_left {
    width: 50%;
  }

  .part_four_right {
    width: 50%;
  }
  .part_four_left_detail {
    margin: 10% 10% 15% 16%;
  }

  .part_five {
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 4%;
    margin-left: 2%;
  }

  .part_five_left {
    width: 60%;
  }

  .part_five_right {
    width: 40%;
  }

  .part_five_details {
    margin: 10% 15% 15% 14%;
  }
  .aboutUs p{
    margin-top: 30px;
  }
  .part_six_aboutUs {
    display: flex;
    text-align: left;
    position: relative;
    margin-top: 4%;
    /* margin-left: 2%; */
  }

  .part_six_details {
    background-color: #e2e1e1;
    ;
    height: 400px;
    width: 600px;
    border-radius: 0px 32px 32px 0px;
    display: flex;
    padding: 30px 30px 0 0;
    justify-content: center;
  }

  .part_six_images {
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .part_six_details h2 {
    color: #9453ff;
  }

  .part_six_details p {
    color: #9387a8;
  }

  .part_six_details_content {
    margin-left: 50%;
    margin-top: 10%;
  }

  .points {
    position: absolute;
    top: 55%;
    left: 11%;
    z-index: -1;
  }

  .shadow {
    position: absolute;
    top: -35%;
  }

  .line {
    position: absolute;
    top: -25%;
  }
  .triangle {
    position: absolute;
    left: 15%;
  }

  .halfCircle {
    position: absolute;
    top: 40%;
  }

  .shadow2 {
    position: absolute;
    right: 0%;
    top: -55%;
    z-index: -2;
  }

  .lines {
    position: absolute;
    right: 0%;
    top: -40%;
    z-index: -2;
  }

  .point2 {
    position: absolute;
    left: 72%;
    bottom: -7%;
    z-index: -1;
  }

  .lines2 {
    position: absolute;
    top: -28%;
    left: 0%;
    z-index: 1;
  }

  .triangle2 {
    position: absolute;
    bottom: -25%;
    left: 40%;
  }


.boy,
.woman,
.animal {
  margin-top: 20%;
}

.man {
  margin-top: 50%;
  margin-left: 40%;
}

.boy {
  margin-left: 20%;
}

.girl {
  margin-left: 40%;
}

.woman {
  margin-left: 16%;
}

.dog {
  margin-left: 20%;
}
.animal {
  margin-left: 40%;
}
