@media screen and (min-width: 1280px) {
    .part-one {
      display: flex;
      background: url("../../image/Rectangle\ 241.png");
      margin-top: 3px;
    }
    body{
      background-color: #ffff;
    }
  

    .aboutUs h2 {
      color: #362355;
    }
  
    .aboutUs p {
      color: #554766;
    }
  
    .part-one h1 {
      color: #9453ff;
    }
  
    .part-one-details {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-self: center;
      width: 70%;
      padding-left: 120px;
      padding-right: 20px;
    }
  
    .part-one-images {
      width: 30%;
      margin: 20px;
    }
  
    .part-one-images img {
      width: 100%;
    }
    .play {
      position: absolute;
      top: 40%;
      left: 45%;
    }
  
    .part-two {
      display: flex;
      text-align: left;
      margin-top: 4%;
      position: relative;
    }
  
    .part-two-left {
      width: 40%;
      margin: 7% 8%;
    }
  
    .part-two-right {
      width: 50%;
      position: relative;
      z-index: -1;
    }
  
 
    .part-two-right img {
      position: relative;
    }
  
    .part-three {
      display: flex;
      margin-top: 4%;
      margin-left: 8%;
      position: relative;
    }
  
    .part-three-left {
      width: 50%;
      text-align: right;
      position: relative;
    }
  
    .part-three-right {
      width: 50%;
      text-align: left;
    }
    .part-three-right-details {
      margin: 12% 10% 15% 10%;
    }


    .part-four {
      display: flex;
      text-align: left;
      position: relative;
      margin-top: 4%;
      margin-left: 2%;
    }
  
    .part-four-left {
      width: 50%;
    }
  
    .part-four-right {
      width: 50%;
    }
    .part-four-left-detail {
      margin: 10% 10% 15% 16%;
    }
  
    .part-five {
      display: flex;
      text-align: left;
      position: relative;
      margin-top: 4%;
      margin-left: 2%;
    }
  
    .part-five-left {
      width: 60%;
    }
  
    .part-five-right {
      width: 40%;
    }
  

    .part-five-details {
      margin: 10% 15% 15% 14%;
    }


    .part-six-aboutUs {
      display: flex;
      text-align: left;
      position: relative;
      margin-top: 4%;
      /* margin-left: 2%; */
    }
  

    .part-six-details {
      background-color: #f3eff9;
      height: 400px;
      width: 700px;
      border-radius: 0px 32px 32px 0px;
    }
  
    .part-six-images {
      width: 50%;
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
  
    .part-six-details h2 {
      color: #9453ff;
    }
  
    .part-six-details p {
      color: #9387a8;
    }

  
    .part-six-details-contents {
      margin: 15% 15% 20% 37%;
    }
  
    .points {
      position: absolute;
      top: 55%;
      left: 11%;
      z-index: -1;
    }
  

  
    .shadow {
      position: absolute;
      top: -35%;
    }
  
    .line {
      position: absolute;
      top: -25%;
    }
    .triangle {
      position: absolute;
      left: 15%;
    }
  
    .halfCircle {
      position: absolute;
      top: 40%;
    }
  
    .shadow2 {
      position: absolute;
      right: 0%;
      top: -55%;
      z-index: -2;
    }
  
    .lines {
      position: absolute;
      right: 0%;
      top: -40%;
      z-index: -2;
    }
  
    .point2 {
      position: absolute;
      left: 72%;
      bottom: -7%;
      z-index: -1;
    }
  
    .lines2 {
      position: absolute;
      top: -28%;
      left: 0%;
      z-index: 1;
    }
  
    .triangle2 {
      position: absolute;
      bottom: -25%;
      left: 40%;
    }
  
    /* .lines2 {
      position: absolute;
      right: 0%;
      top: 15%;
      z-index: 2;
    } */
  }
    
  .boy,
  .woman,
  .animal {
    margin-top: 20%;
  }

  .man {
    margin-top: 50%;
    margin-left: 40%;
  }

  .boy {
    margin-left: 20%;
  }

  .girl {
    margin-left: 40%;
  }

  .woman {
    margin-left: 16%;
  }

  .dog {
    margin-left: 20%;
  }
  .animal {
    margin-left: 40%;
  }