.header_info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.header_info h1 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 4%;
}
.header_info p {
  color: #9387a8;
  font-size: 20px;
}
.images_homepage {
  display: flex;
}
.header_info button {
  background-color: #9453ff;
  border: none;
  width: 9%;
  height: 45px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 2% 45%;
}
.header_info button:hover {
  font-weight: bold;
}

#images_homepage_first {
  padding-top: 4%;
  width: 30%;
  text-align: right;
}
#images_homepage_two {
  width: 40%;
}
#images_homepage_three {
  text-align: center;
  width: 30%;
}
#images_homepage_first img {
  width: 60%;
}
#images_homepage_two img {
  width: 100%;
}
#images_homepage_three img {
  width: 80%;
}
#Frame {
  margin-top: 5%;
}
#Asset1 img {
  margin-right: 10%;
}
#Asset2 img {
  width: 45%;
}
#Asset2 {
  margin-top: 25%;
}
#Asset4 img {
  width: 30%;
}
#Asset4 {
  margin-top: 32%;
}

.part_two_details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 5%;
}
.part_two {
  width: 100%;
}
.part_two h1 {
  line-height: 64px;
  font-size: 48px;
  gap: 10px;
  color: #362355;
  text-align: center;
}
.part_two p {
  color: #9387a8;
  margin-top: 2%;
  font-size: 20px;
}

.part_two_image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.part_two_image img {
  width: 100%;
}
.part_two_image_first,
.part_two_image_second {
  display: flex;
}

.part_two_image h4 {
  color: #585757;
  text-align: center;
}
.part_three {
  margin-top: 8%;
  width: 100%;
  height: 735px;
}
.part_three_content {
  display: flex;
  justify-content: space-between;
}

.three {
  display: flex;
  text-align: left;
  margin-bottom: 5%;
  margin-right: 10%;
}
.part_three h1 {
  color: #362355;
  text-align: center;
}
.part_three_image {
  width: 25%;
}
.part_three_image img {
  width: 100%;
  margin-top: 33%;
}
.part_three_detail {
  position: relative;
}
.contents_details h4 {
  margin: 3% 3%;
}
.contents_details img {
  margin-left: 20%;
}
.three_details {
  width: 100%;
}
.rectangles {
  width: 100%;
}
.images_homepage_2 {
  display: flex;
  color: #ffffff;
  background-color: #281c42;
  padding: 5% 5%;
  border-radius: 30px;
  margin-top: 15%;
  justify-content: center;
  margin-left: 5%;
}
.images_homepage_title {
  width: 10%;
  display: flex;
  align-items: center;
}
.images_homepage_details {
  width: 84%;
  display: flex;
}
.contents_details {
  width: 25%;
}
.part_four {
  margin-top: 8%;
}
.part_four_detail {
  display: flex;
  text-align: left;
  justify-content: space-around;
}
.part_four_details {
  color: #554766;
  width: 27%;
  box-shadow: 1px 0 5px #888888;
  padding: 2%;
  border-radius: 4px;
  background-color: #ffffff;
}
.part_four h1 {
  color: #362355;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.card{
  padding: 3%;
}
.card_name {
  padding-top: 5%;
  display: flex;
  border-top: 1px solid black;
}

.card_name_images {
  display: flex;
  align-items: center;
}
.part_five {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 6%;
}
.part_five_detail {
  text-align: left;
  width: 50%;
  padding-bottom: 7%;
}
.part_five_images {
  width: 40%;
}
.part_five_images img {
  width: 100%;
}
.button_redirect {
  display: flex;
  color: #ffffff;
  background-color: #9453ff;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  padding-left: 12px;
  margin-right: 20px;
  height: 50px;
  width: 50%;
}
.button_redirect button {
  color: #ffffff;
  background-color: #9453ff;
  border: none;
  font-weight: bold;
}
.button_redirect img {
  width: 20px;
  height: 20px;
}
.button_redirect button {
  cursor: pointer;
  margin-left: 5%;
}
.button_community {
  display: flex;
  margin-top: 15px;
}
.part_six {
  background-color: #9453ff;
  padding: 3% 3% 5% 3%;
  border-radius: 8px;
  width: 86%;
  margin: 5%;
}
.part_six h2 {
  color: #fff539;
  text-align: center;
}
.part_six p {
  color: #ffffff;
  margin-top: 2%;
  text-align: center;
}
.part_six .submit {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.part_six input {
  padding: 2em;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
}

.part_six button {
  height: 73px;
  color: #ffffff;
  font-weight: bold;
  background-color: #9453ff;
  border: 1px solid #ffffff;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  padding: 2em;
}
.part_six button:hover{
  background-color: #ffffff;
  color: #9453ff;
}
::-webkit-input-placeholder {
  padding: 10px;
  color: #cac1d8;
}
.fixed_content {
  height: 200px;
}
.rectangle {
  position: relative;
  right: 0px;
  top: 20%;
  z-index: -1;
}
/* .rectangle img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
} */
.three_details {
  border: 1px solid #9453ff;
  background-color: #ffffff;
  margin-left: 5%;
  padding: 3%;
  border-radius: 3%;
}
.vote {
  display: flex;
}
.vote_left {
  width: 40%;
}
.vote_right {
  width: 60%;
  text-align: end;
}
.both {
  margin-top: 20%;
}
.box {
  position: absolute;
  top: -50px;
  left: 100px;
}

/* Slider */
.SimpleSlider {
  display: none;
}
.part_four_slider {
  width: 100%;
}
.vote_slider,
.vote_left_slider,
.vote_right_slider {
  display: flex;
  width: 100%;
}
.part_four_details_slider {
  color: #554766;
  width: 100%;
  border: 2px solid #fff539;
  padding: 2%;
  border-radius: 4px;
  background-color: #ffffff;
}
.part_four_details_slider p {
  margin-top: 5%;
}
.card_name_slider {
  display: flex;
  margin-top: 5%;
}
.card_name_slider {
  width: 100%;
}
.card_slider {
  margin: 5%;
}
.SimpleSlider1 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .part_three_content {
    display: block;
  }
  .part_three_detail {
    display: none;
  }
  .header_home {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  .header_home h1 {
    font-size: 30px;
  }
  .header_info {
    width: 100%;
  }
  .part_two_image {
    display: block;
    margin-left: 0;
  }
  /* .part_three_content{
    display: flex;
    flex-flow: column-reverse;
  } */
  .three_details_slider {
    background-color: #ffffff;
    padding: 3%;
    height: 240px;
    border: 2px solid #fff539;
  }
  .rectangles {
    display: none;
  }
  .three {
    margin: 0;
  }
  .box {
    display: block;
    flex-direction: row;
  }
  .three_details {
    width: 200px;
    height: 165px;
    margin: 0;
  }
  .part_three_image {
    width: 100%;
  }
  .SimpleSlider {
    display: block;
  }

  .part_three_content_slider {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
    width: calc(100vw - 50px);
    margin: 0 auto;
  }
  .part_three_image img {
    margin-top: 10%;
    width: 65%;
    height: 300px;
    margin: 10%;
    padding: 5%;
  }
  .images_homepage_2,
  .images_homepage_title,
  .images_homepage_details {
    display: block;
    margin: 0;
  }

  .images_homepage_details,
  .contents_details,
  .images_homepage_title {
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }
  .contents_details img {
    margin: 0;
  }
  .part_four {
    width: calc(100vw - 50px);
    margin: 0 auto;
  }

  .part_four_detail {
    display: none;
  }
  .SimpleSlider1 {
    display: block;
  }
  .part_five {
    display: flex;
    flex-direction: column-reverse;
    /* margin-left: 6%; */
  }
  /* .part_five_detail {
    width: 100%;
  } */
  .part_five_images {
    width: 100%;
  }
  .part_five_detail p {
    margin-top: 5%;
  }
  .button_community {
    display: block;
  }
  .button_redirect {
    margin-top: 5%;
    padding: 0em 4em;
  }
  .part_six {
    margin-left: 4%;
  }
  .part_five_detail {
    text-align: left;
    width: 86%;
    padding-bottom: 7%;
  }
  .part_six input {
    width: 100%;
    height: 2px;
  }
  .part_six button{
    height: 0;

  }
}
